<div class="container">
        <div class="row">
                <div class="col-md-6">
                        <div class="card">
                                <div class="text-center">
                                        <h1>SignUp</h1>
                                        <h5>Register Yourself!</h5>
                                </div>
                                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                                        <div class="mb-3">
                                                <label for="fullname" class="form-label">Full Name</label>
                                                <input formControlName="fullname" type="text" class="form-control" id="fullname" aria-describedby="emailHelp">
                                                <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required', 'fullname')">Full Name is Requied</span>
                                        </div>
                                        <div class="mb-3">
                                                <label for="mobile" class="form-label">Mobile No.</label>
                                                <input formControlName="mobile" type="number" class="form-control" id="mobile" aria-describedby="emailHelp">
                                                <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required', 'mobile')">Mobile No. is Requied</span>
                                        </div>
                                        <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                                <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">Email Id is Requied</span>
                                        </div>
                                        <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                                <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                                                <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">Password is Requied</span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">SignUp</button>
                                </form>
                                <a routerLink="/login"> Already Register ? Login here</a>
                        </div>
                </div>
        </div>
</div>